.card {
   width: 323px; 
   position: relative;
   display: flex;
   justify-content: center;
   font-size: 12px;
   border: 1px;
}

.card__name {
    position: absolute;
    top: 15px;
    margin: 0;
}

.card__image {
    width: 100%;
}