.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px 0;
  border: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
   font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.header__avatar {
  margin-left: 12px;
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}
