.modal__close {
  background-image: url("../../assets/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

.modal__image {
  width: 300px;
  height: 270px;
  margin: -28px;
  border-radius: 10px 10px 1px 1px;
}

.modal__content {
  width: 300px;
  height: 380px;
  border-radius: 10px;
}

.modal__label {
  width: 440px;
  height: 52px;
  top: 265px;
  left: 500px;
  border: 1px;
}

.modal__input {
  border: 1px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  background-color: rgba(0,0,0,0.3);
  font-style: Bold;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  
}
