.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  align-items: center;
}

.sidebar__username {
  margin: 10px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  flex-direction: reverse;
}

.sidebar__avatar {
  margin-left: 12px;
  flex: 0 0 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: block;

}

.sidebar__user-container {
  display: flex;
  gap: 10px;
}

.sidebar__btn {
  border: none;
  display: block;
  margin: 8px;
}